$white: #ffffff;
$black: #000000;


/* Theme light */

$bluelight: rgb(74,204,236);
$StartLightGradient: rgb(116, 108, 247);
$StartLightGradient-50: rgba(116, 108, 247, 0.5);
$EndLightGradient: rgb(74,204,234);
$linkLight: $black;
$borderLightGardient: linear-gradient(0deg, rgb(74,204,234) 0%, rgb(116, 108, 247) 75%);
$hoverLight: #8F04FF1A;
$font-family: 'Montserrat', sans-serif;
$background-image-light: url('@/assets/images/pictures/dev_web_pc_light.webp');
$background-image-dark: url('@/assets/images/pictures/dev_web_pc_dark.webp');

/* background */    

$bgLight1: #E7F9FF;
$bgLight2: #FAFAFF;
$bgLight3: #DFF9FF;

/* Theme dark */

$StartDarkGradient: rgb(51,66,255);
$StartDarkGradient-50: rgba(51,66,255, 0.5);
$EndDarkGradient: rgb(115 0 255);
$borderDarkGardient: linear-gradient(0deg, rgb(51,66,255) 0%, rgb(115 0 255) 75%);
$linkdark: $white;


$borderDark: $StartDarkGradient;
$borderLight: $StartLightGradient;
$bgLightNav: #f9feff;


$textPrimaryLight: $StartLightGradient;

$textPrimaryDark: $StartDarkGradient;
$textSecondaryDark: #E5EDFF;
$linkdarkhover: $textSecondaryDark;

$shadow: rgba( 31, 38, 135, 0.37);

/* background */

$bgDark1 : rgba(0,36,41,1);
$bgDark2: rgb(26, 39, 39);
$bgDarkNav : #001214;

  /* text */

  @mixin font-weight-700 {
    font-weight: 700;
    line-height: normal;
  }

  @mixin li-list-none {
    list-style-type: none;
  }

  /* responsive images */
  
  /* flexbox */

  
  @mixin flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @mixin flex-column {
    display: flex;
    flex-direction: column;
  }

  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @mixin flex-0-50 {
    flex: 0 0 50%;
  }

  @mixin flex-1-50 {
    flex: 1 1 50%;
  }

  @mixin flex-1-100 {
    flex: 1 1 100%;
  }

  /* margin */

  @mixin margin-5-auto {
    margin: 5% auto;

  }
  
  @mixin margin-x-1 {
    margin-left: 1em;
    margin-right: 1em;
  }

  @mixin margin-x-2 {
    margin-left: 2em;
    margin-right: 2em;
  }

  @mixin margin-x-3 {
    margin-left: 3em;
    margin-right: 3em;
  }

  @mixin margin-y-1 {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  @mixin margin-y-2 {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  @mixin margin-y-3 {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  /* padding */

  $base-padding: 1rem;
  $padding-multiplier: 2;

  // Fonction pour calculer le padding dynamique
@function dynamic-padding($multiplier) {
  @return $base-padding * $multiplier;
}

// Variables de largeur de conteneur
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

// Mixin pour le conteneur
@mixin container-max-widths($breakpoints) {
  @each $breakpoint, $max-width in $breakpoints {
    @include media-breakpoint-up($breakpoint) {
      max-width: $max-width;
    }
  }
}

// Mixin pour les points de rupture
@mixin media-breakpoint-up($name) {
  $breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
  );
  $min-width: map-get($breakpoints, $name);

  @if $min-width {
    @media (min-width: $min-width) {
      @content;
    }
  }
}

// Mixin pour appliquer la taille de la police responsive
@mixin font-size-responsive($min-size, $max-size) {
  font-size: $min-size;

  @include media-breakpoint-up(sm) {
    font-size: $min-size;
  }

  @include media-breakpoint-up(md) {
    font-size: calc(#{$min-size} + (#{$max-size} - #{$min-size}) * 0.5);
  }

  @include media-breakpoint-up(lg) {
    font-size: calc(#{$min-size} + (#{$max-size} - #{$min-size}) * 0.75);
  }

  @include media-breakpoint-up(xl) {
    font-size: $max-size;
  }
}