/* global text css */

:root {
  $linkdark: $StartDarkGradient;
  
}

.text-justify {
  text-align: justify;
}

.centered {
  text-align: center;
}

:is(.navItem button, p, label, h1, #navBar, span, a, body) {
  font-family: 'Montserrat', sans-serif !important;
}

.h1-dark, .h2-dark, .h1-light, .h2-light, .h2-dark{
  text-align: center;
}

/* color white */

:is(.h1-light) {
  color: $StartLightGradient;
  -webkit-text-stroke: 0px !important;
  @include font-size-responsive(2rem, 3rem);
}

:is(.h2-light, h2) {
  color: $EndLightGradient;
  @include font-size-responsive(1.5rem, 2.5rem);
}

:is(.h3-light, h3) {
  color: $EndLightGradient;
  @include font-size-responsive(1.2rem, 1.5rem);
}

:is(.h1-dark) {
  color: $textPrimaryDark;
  @include font-size-responsive(2rem, 3rem);
}

:is(.h2-dark) {
  color: $EndDarkGradient;
  @include font-size-responsive(1.5rem, 2.5rem);
}

:is(.h3-dark, h3) {
  color: $EndDarkGradient;
  @include font-size-responsive(1.2rem, 1.5rem);
}


:is(.text-color-dark) {
  color: $white;
}

:is(.text-color-light) {
  color: $black;
}

:is(.footerTextDark, .link-section-dark) {
  color: $StartDarkGradient;
}

:is(.fake-search-bar-dark) {
  color: $textSecondaryDark;
}

:is(.fake-search-bar-light) {
  color: $black;
}

:is(.footerTextDark:hover) {
  color: $linkdarkhover;
  text-decoration: underline 1px;
  text-decoration-color: $linkdarkhover;
}

:is(.footerTextDark:hover) {
  border-radius: 5%;
  transition: all 0.5s;
}

:is(.footerTextLight:hover) {
  border-radius: 5%;
  transition: all 0.5s;
}

:is(.footerTextLight, .link-section-light) {
  color: $StartLightGradient;
}

:is(.footerTextLight:hover, .link-section-light:hover, .link-section-light:focus) {
  color: $black;
  text-decoration: underline;
  text-decoration-color: $black;
}

/* h1, h2 */
  
h1, h2, h3 {
    transition: .5s ease;
    font-weight: bold !important;  
  }


  


  
  .text-style {
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
  }
  
  .text-color-dark{
    font-weight: 400 !important;
    transition: .5s ease;
  
  }

    
  .text-color-light{
    font-weight: 400 !important;
    transition: .5s ease;
  
  }
  
  .text-wrap {
    word-wrap: break-word; /* Permet au texte de passer à la ligne lorsqu'il dépasse la largeur de son conteneur */
    white-space: normal; /* Permet le retour automatique à la ligne du texte */
  }
  
  
 
  /* p style */
  
  p, label {
    @include font-size-responsive(0.7rem, 1rem);
  }
  
  /* indentation first line */
  
  .paragraph::first-line {
    text-indent: 5%; /* Utilisez un pourcentage pour rendre l'indentation responsive */
  }
  
  /* nav-text */
  
  
  .navTextLight {
     transition: .5s ease;
  
  }
  
  .navTextLight:hover{
  
    text-shadow: 0 0 5px $black,
    0 0 10px $black,
    0 0 15px $textSecondaryDark;
    -webkit-text-stroke: 0.2px #0f2946 !important; /* Largeur et couleur du contour */
    text-stroke: 0.2px #0f2946 !important; /* Largeur et couleur du contour */
    cursor: pointer;
  
  }
  
  .navTextDark  {
  
    -webkit-text-stroke: 0.1px rgb(128, 198, 215) !important; 
     text-decoration: none;
     transition: .5s ease;
  
  }

  .centered {
  text-align: center;
}


.style-text {
  font-family: $font-family;
}
  