@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");



:root {

  font-family: $font-family;
  $background-image-light: $background-image-light;
  $background-image-dark: $background-image-dark;


}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}


/* app */

#app{
  box-sizing: border-box;
  overflow-x: hidden;
  perspective: 1000px;
  @include flex-column;

}




.backgroundLight {

  background: $white;
  transition: .5s ease;

}


  .backgroundDark {
    background: $bgDark1;
    transition: .5s ease;
} 


/*section*/

.section {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.container {
  @include flex-center;
  flex-direction: column;
  padding-right: rem(16);
  padding-left: rem(16);
  
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.float-start {
  float: left;
}